'''dmon configuration'''

# Server configuration
base_url = ''     # No trailing slash. Set to empty string if app exists at the base URL (e.g. http://mysite.com/)

# Web page template settings
page_title = 'Your Network | Dmon'
page_heading = 'Your Network Status'
page_subheading = None # Insert a goofy subheading or just leave it blank

# Database configuration
db_connection_string = 'mongodb://localhost:27017/'

# Host (or IP) to ping; google is generally up
ping_host = 'google.com'

# List of services you want to monitor
services = [
    ('IRC', ('10.0.1.2', 6667)),
    ('SMTP', ('10.0.1.3', 587)),
    ('IMAP', ('10.0.1.3', 993))]